{% extends "blog/base.html" %}

{% block title %}
    {{ post.title_tag }}
{% endblock %}

{% block content %}
<div class="container mt-5">
        <h1>{{ post.title }}</h1>
        <a href="{% url 'category' post.category %}"><h3>{{ post.category|upper }}</h3></a>

        
        <hr>
        {% if post.header_image %}
            <img src="{{post.header_image.url }}" alt="post-image" class="w-100">
        {% endif %}
        <div class="container-smx">
            <p class="text-justify">{{ post.body|safe}}</p>
            <p>
                <small>By: 
                    <strong>
                        {% if user.first_name or user.last_name %}
                            {{ user.first_name }} {{ user.last_name}}
                        {% else %}
                            {{ user.username }}
                        {% endif%}
                    </strong>
                </small> 
                {{ post.date_posted }}
            <p>
        </div>

        </br>
        <hr>
        
        <a class="btn btn-dark" href = {% url 'home' %}>Back</a>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <a class="btn btn-light" href = {% url 'update-post' post.pk%}>Edit</a> 
        {% endif %}
        <form action = "{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}

            {% if liked %}
                <button type="submit", name="post_id" value="{{post.id}}" class="btn btn-secondary">Unlike</button>
            {% else %}
                <button type="submit", name="post_id" value="{{post.id}}" class="btn btn-primary">Like</button>
            {% endif %}
        </form>
    {% else %}
        <a href="{% url 'login'%}" class="btn btn-primary">Login to like</a>
    {% endif %}
        <p>{{ total_likes }} - Likes</p>
</div>
{% endblock %}