{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
            Blogie
        {% endblock %}
    </title>
    <!--Local Css-->
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/bootstrap.min.css' %}">
    
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <!--Put children block here!! Soon-->
    <nav class="navbar navbar-expand-lg bg-dark-subtle">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Blogie</a>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if cat_menu %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            {% for item in cat_menu %}
                            <li>
                                <a class="dropdown-item" href="{% url 'category' item|slugify  %}">{{ item }}</a>
                            </li>
                            {% endfor %}
                            <li><a class="dropdown-item" href="#">Another action</a></li>

                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'category-list'%}" class="nav-link">Categories</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated%}
                    <li class="nav-item">
                        <a href="{% url 'add-post'%}" class="nav-link">Add Post</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'add-category'%}" class="nav-link">Add Category</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout'%}" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'register'%}" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login'%}" class="nav-link">Login</a>
                    </li>
                {% endif %}
                      
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
    {% block content %}

    <!--
        home
        article_details
    -->
    {% endblock %}
    </div>
    <!-- Bootstrap cdn-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>