{% extends "blog/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/home.css' %}">
{% endblock %}

{% block content %}

<div class="banner">
    <div class="b-child1">
        <div class="b-grandchild1">
            <div class="txt-container">
                <div class="style__SubscribeForm-sc-2a5839c1-8 iIHzBj">
                    <h1 class="dist__StyledText-sc-2252f3c6-12 buWMYT style__CtaHeader-sc-2a5839c1-10 knpxgB" font-weight="bold">
                        Become smarter in just 5 minutes</h1>
                        <p class="dist__StyledText-sc-2252f3c6-12 kBgwiz style__StyledText-sc-2a5839c1-11 jhMjHF">
                            Get the daily email that makes reading the news enjoyable. Stay informed and entertained, for free.
                        </p>
                        <form class="dist__BaseForm-1-sc-2252f3c6-30 dist__StyledSquaredForm-1-sc-2252f3c6-38 kQbVNN tnME style__StyledInputWithAction-sc-2a5839c1-9 juSsIh">
                            <input type="email" placeholder="youremail@domain.com" name="email" class="dist__BaseInput-sc-2252f3c6-27 dist__StyledInput-sc-2252f3c6-28 dist__StyledSquaredInput-1-sc-2252f3c6-39 zgeYM ilGTa dNKbfN px-3" value="" fdprocessedid="jc1ti">
                            <button type="submit" class="chakra-button css-u5fi7s fw-bolder" id="bg-btn"fdprocessedid="7yr2ke">
                                Subscribe
                            </button>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="css-1qwj5yi">
        {% if object_list %}
            {% with latest_post=object_list.first %}
            <div class="css-1qwj5yi">
                <a class="chakra-link css-1j8oszi" href="https://www.morningbrew.com/daily/stories/2024/04/21/the-tiktok-ban-just-got-very-real">
                    <div class="style__SpotlightImage-sc-11272830-1 eiCAYT css-0">
                        <span style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative">
                            <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;padding-top:52.142857142857146%">
                            </span>
                            <img alt="A person’s hand placing the top of the US capital building on top of a candle with the TikTok logo on the side" src="https://cdn.sanity.io/images/bl383u0v/production/78db2fb1c36526f87c67f9c928f7010214c59b28-1500x1000.jpg?rect=0,107,1500,786&amp;w=420&amp;h=220&amp;q=80&amp;fit=crop&amp;auto=format" decoding="async" data-nimg="responsive" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover">
                        </span>
                    </div>
                    <p class="dist__StyledText-sc-2252f3c6-12 faRnrv style__SpotlightTagLine-sc-11272830-2 iERVoj fs-3" font-weight="medium">
                        Tech
                    </p>
                    <p class="dist__StyledText-sc-2252f3c6-12 hXVBbm style__SpotlightTitle-sc-11272830-3 cSAGwA fs-3" font-weight="medium">
                        The TikTok ‘ban’ just got very real
                    </p>
                    <p class="dist__StyledText-sc-2252f3c6-12 faTuAv style__SpotlightDetails-sc-11272830-4 enGwAp fs-6" font-weight="regular">
                        The bill is expected to get through the Senate as soon as this week, and will almost certainly be signed into law by President Biden.
                    </p><div class="style__SpotlightSponsor-sc-11272830-5 cBQIlA"><p class="dist__StyledText-sc-2252f3c6-12 iJerFn" font-weight="bold">
                    </p>
                </div></a>
            </div>
            {% endwith %}
        {% endif %}
    </div>

</div>
<div class="container">
<h1 class="my-5">Latest Stories</h1>
    {% for post in object_list %}

            <a href="{% url 'article-detail' post.pk %}"><h1>{{ post.title }}</h1></a>
            <a href="{% url 'category' post.category|slugify  %}"><h3>{{ post.category|title }}</h3></a>
            <p>By {{ post.author }}</p>
            <p>{{ post.date_posted|date:"F j, Y, g:i a" }}</p>
            <b><a href="{% url 'article-detail' post.pk %}">{{ post.snippet }}</a></b>
            <p>{{ post.body|slice:":200"|safe }}</p>
            <p>
                {% if post.total_likes == None %}
                0 - Likes
                {% else %}
                {{ post.total_likes }} - Likes
                {% endif %}
            </p>

            <hr>

    {% endfor %}
</div>
{% endblock %}